<section id="testimonial" class="s-testimonial target-section">
<div class="s-testimonials">

    <div class="overlay"></div>

    <div class="row testimonials-header">
        <div class="col-full">
            <h1 class="h02">İnsanlar Benim İçin Ne Dediler?</h1>
        </div>
    </div>

    <div class="row testimonials">

        <div class="col-full testimonials__slider">

            <div class="testimonials__slide">
                <img src="~/hola-master/images/avatars/aykutbastug.jpeg" alt="Author image" class="testimonials__avatar">
                <p>
                    Başarılarının devamını dilerim.
                </p>
                <div class="testimonials__author h06">
                    Aykut Baştuğ
                    <span>Co-Founder, Codeove</span>
                </div>
            </div>

            <div class="testimonials__slide">
                <img src="~/hola-master/images/avatars/orhanekici.jpeg" alt="Author image" class="testimonials__avatar">
                <p>
                    Başarılar diliyorum. Harika projelerde çalışman dileğiyle.
                </p>
                <div class="testimonials__author h06">
                    Orhan Ekici
                    <span>Yazılım Bölüm Başkanı, Acun Medya Akademi</span>
                </div>
            </div>

            <div class="testimonials__slide">
                <img src="~/hola-master/images/avatars/emreozcelikel.jpeg" alt="Author image" class="testimonials__avatar">
                <p>
                    Daha seni tanımıyorum dostum ne dememi bekliyorsun. Zaman gösterecek neler yapacağını.
                </p>
                <div class="testimonials__author h06">
                    Emre Özçelikel
                        <span>Yazılım Eğitmeni, Acun Medya Akademi</span>
                </div>
            </div>

        </div> <!-- end testimonials__slider -->

    </div> <!-- end testimonials -->

</div>
</section>
